<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key><string>com.jackm4.goldenstocks.biglot-bucket-eod</string>
  <key>ProgramArguments</key>
  <array><string>/bin/bash</string><string>{{BIGLOT_BUCKET_EOD_LAUNCHER}}</string></array>
  <key>StartCalendarInterval</key>
  <array>
    <dict><key>Hour</key><integer>15</integer><key>Minute</key><integer>40</integer></dict>
    <dict><key>Hour</key><integer>20</integer><key>Minute</key><integer>10</integer></dict>
  </array>
  <key>RunAtLoad</key><false/>
  <key>StandardOutPath</key><string>{{HOME}}/Library/Logs/com.jackm4.goldenstocks/biglot-bucket-eod.out.log</string>
  <key>StandardErrorPath</key><string>{{HOME}}/Library/Logs/com.jackm4.goldenstocks/biglot-bucket-eod.err.log</string>
  <key>EnvironmentVariables</key>
  <dict><key>TZ</key><string>Asia/Taipei</string></dict>
</dict>
</plist>
